@page {
    -ro-id: default-page-properties;
    size: 148mm 105mm;
    margin: 0cm;
}

body {
    font-family: DroidSans;
    font-size: 9pt;
    margin: 0;
    line-height: 1.1em;
}

#front {
    page-break-after: always;
}

img#background {
    width: 100%;
    height: auto;
    postion: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#text-frontpage {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 3cm;
    color: yellow;
    font-size: 1.5em;
    line-height: 1.5em;
}
