<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>Postcard</title>
        <link rel="stylesheet" type="text/css" href="droidsans/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="postcard.css"/>
    </head>
    <body class="protected">
        <div id="front">
            <img id="background" src="back.png"/>
            <div id="text-frontpage">
                <div editable="yes" id="text1">Python - Zope - Plone</div>
                <div editable="yes" id="text2">High-Quality PDF Solutions</div>
                <div editable="yes" id="text3">Software Development &amp; Consulting</div>
            </div>
        </div>
        <div id="back">
            <div id="web2">www.produce-and-publish.info</div>
        </div>
    </body>
</html>
