<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>Postcard</title>
        <link rel="stylesheet" type="text/css" href="droidsans/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="post.css"/>
    </head>
    <body class="protected">
        <div id="front">
            <img id="background" src="back.png"/>
            <div id="text-frontpage">
                <div editable="yes" id="text1" use_default="yes">All my dear friends</div>
                <div editable="yes" id="text2" use_default="yes">Greetings from Australia</div>
                <div editable="yes" id="text3" use_default="yes">...from the kangaroo of the apocalypse</div>
            </div>
        </div>
        <div id="back">
            <div id="back-text" editable="yes" type="text" use_default="yes">
Dear Tora,
                
I’ve been in San Diego for two days now. The weather is pretty nice and we’ve been having a great time. 
Yesterday, we went to the zoo. We saw some baby tigers–you would have loved them! Maybe we can go there together someday. Anyway, I hope you’re doing well! 
                
Take care!

— Clarissa
            </div>
            <div id="sep">
            </div>
            <div id="back-address">
                <div id="address-inner">
                    <div id="to-name" class="address-line" editable="yes" use_default="yes">Andreas Jung</div>
                    <div id="to-address" class="address-line" editable="yes" use_default="yes">Charlottenstr. 33</div>
                    <div id="to-city" class="address-line" editable="yes" use_default="yes">D-72074 Tübingen</div>
                    <div id="to-country" class="address-line" editable="yes" use_default="yes">Germany</div>
                </div>
            </div>

        </div>
    </body>
</html>
