<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>Form field test</title>
        <link rel="stylesheet" type="text/css" href="droidsans/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="formtest.css"/>
    </head>
    <body>
        <div id="title" editable="yes" type="string" placeholder="Title">This is the title</div>
        <div id="subtitle" editable="yes" type="text" placeholder="Description">This is the description</div>
        <div id="email" editable="yes" type="email" placeholder="EMail address">jung@hamster.org</div>
        <div id="integer" editable="yes" type="integer" placeholder="Integer" required="no">0</div>
    </body>
</html>
