<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <title>ZOPYX Business Cards Sample</title>
        <link rel="stylesheet" type="text/css" href="droidsans/stylesheet.css"/>
        <link rel="stylesheet" type="text/css" href="zopyx-business-card.css"/>
    </head>
    <body class="protected">
        <div id="header">
            <div>Python - Zope - Plone</div>
            <div>High-Quality PDF Solutions</div>
            <div>Software Development &amp; Consulting</div>
        </div>
        <div id="logo">
            <img src="zopyx.jpg" />
        </div>
        <div id="personal-data">
            <div id="company"> Ihre Firma GmbH &amp; Co. KG</div>
            <div id="name" editable="yes" type="string" placeholder="First + last name">Heinz Becker</div>
            <div id="position" editable="yes" type="string" placeholder="Position">Chief Technology Officer</div>
            <div id="street">Hundskapfklinge 33</div>
            <div id="country">Germany</div>
            <div id="Phone" editable="yes" type="string" placeholder="Phone">+49 7071 12345678</div> 
            <div id="mail" editable="yes" type="string" validation="email" placeholder="Email">info@zopyx.com</div>
            <div id="web">www.zopyx.com</div>
            <div id="web2">www.produce-and-publish.info</div>
        </div>
    </body>
</html>
